@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333333;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img,
input,
button {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.l-header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.8rem;
  background-color: #ffffff;
}

.c-btn {
  padding: 1.6rem 5rem;
  box-shadow: 0 0.3rem 0.5rem #3e3e3e33;
  cursor: pointer;
}

.c-btn--yellow {
  border-radius: 1rem;
  background-color: #ffaa3b;
  color: #ffffff;
}

.c-btn--white {
  padding: 1.6rem 10rem;
  border: 0.1rem solid #707070;
  background-color: #ffffff;
  color: #3e3e3e;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.c-btn--white:hover {
  background-color: #3e3e3e;
  color: #ffffff;
}

.c-btn--black {
  padding: 1.6rem 10rem;
  border: 0.1rem solid #ffffff;
  background-color: #3e3e3e;
  color: #ffffff;
}

.c-btn--black:hover {
  background-color: #ffffff;
  color: #3e3e3e;
}

.c-cell--th {
  width: 10rem;
  height: 5.6rem;
  border-left: 0.1rem solid #707070;
  background-color: #3e3e3e;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.c-cell--th--first {
  border-top: 0.1rem solid #707070;
}

.c-cell--th--second {
  border-top: 0.1rem solid #ffffff;
  border-bottom: 0.1rem solid #ffffff;
}

.c-cell--th--last {
  border-bottom: 0.1rem solid #707070;
}

.c-cell--td {
  width: calc(100%-10rem);
  max-width: 69.8rem;
  height: 5.6rem;
  padding-left: 2rem;
  border: 0.1rem solid #707070;
  font-weight: bold;
  vertical-align: middle;
}

.c-img {
  width: 100%;
}

.c-link--header {
  line-height: 1.1875;
  font-family: "Montserrat", sans-serif;
}

.c-logo--header {
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 1.21739;
}

.c-title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.23333;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* @import "./object/component/logo";
@import "./object/component/link";
@import "./object/component/btn";
@import "./object/component/img"; */
.p-card {
  width: 27.4rem;
  height: 25.3rem;
}

.p-header {
  height: 100%;
}

.p-header__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.p-header__nav {
  display: none;
}

.p-header__nav--sp {
  display: flex;
  flex-direction: column;
  width: 10.2rem;
  height: 34.6rem;
}

.p-header__nav-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.p-header__nav-link {
  margin-bottom: 3.2rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.22222;
  text-align: center;
}

.p-header__hamburger {
  margin-left: auto;
}

.p-header .js-header__hamburger-btn {
  display: none;
}

.p-header .is-active {
  display: block;
}

.p-inner {
  width: calc(100% - 3.2rem);
  height: 100%;
  margin: 0 auto;
}

.p-inner--news {
  width: 100%;
  padding: 1.4rem 1.6rem;
  border-bottom: 0.1rem solid #cecdcd;
}

.p-inner--news:hover {
  background-color: #4973ff1a;
}

.p-inner--results {
  padding: 1.2rem;
  background-color: #ffffff;
}

.p-news {
  position: relative;
  height: 57.4rem;
  background-color: #f3f3f3;
}

.p-news__wrap {
  position: absolute;
  top: -4rem;
  width: inherit;
  height: auto;
  max-height: 55.3rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1.2rem #3e3e3e33;
}

.p-news__title {
  padding: 4rem 0;
  border-bottom: 0.1rem solid #cecdcd;
}

.p-news__link {
  cursor: pointer;
}

.p-news__item {
  background: transparent url(./../../../img/news-arrow.svg) no-repeat center right 1.6rem;
  transition: background-color 0.3s;
}

.p-news__head {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.p-news__date {
  margin-right: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.p-news__category {
  padding: 0.2rem 1.4rem;
  border: 0.2rem solid #3b69ff;
  border-radius: 5rem;
  font-size: 1.2rem;
}

.p-news__content {
  flex: 1;
  margin-right: 3.883rem;
  /* width: 100%;
    max-width: 69.8rem; */
  font-size: 1.4rem;
  line-height: 1.42857;
}

.p-news__btn {
  margin: 4rem auto;
}

.p-price {
  height: 42.3rem;
  background-color: #f3f3f3;
}

.p-price__title {
  padding: 4rem 0;
  font-size: 3rem;
}

.p-price__table {
  margin-bottom: 0.8rem;
  /* @include mq("pc") {
      margin: 0 auto 1.2rem;
    } */
}

.p-price__th {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.p-price__td {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.p-price__caution {
  font-size: 1.2rem;
}

.p-results {
  overflow: hidden;
  background-color: #f3f3f3;
}

.p-results__wrap {
  height: 53.2rem;
  padding-left: 2rem;
  background-color: #3e3e3e;
}

.p-results__title {
  padding: 4rem 0;
  color: #ffffff;
}

.p-results__head {
  padding-bottom: 1.2rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.14286;
}

.p-results__body {
  font-size: 1.2rem;
  line-height: 1.5;
}

.p-results__btn {
  width: 31.6rem;
  margin-top: 2.8rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  line-height: 1.27778;
  letter-spacing: 0.00036rem;
}

.p-results__slide {
  /* width: 29.4rem !important;
    height: 25.3rem !important; */
  margin-left: 0;
}

.p-results__page {
  margin-top: 4rem;
}

.p-service {
  height: 87.8rem;
  background: linear-gradient(to bottom, #3e3e3e 0%, #3e3e3e 50%, #f3f3f3 50%, #f3f3f3 100%);
}

.p-service__title {
  position: relative;
  padding: 4rem 0;
  color: #ffffff;
}

.p-service__wrap {
  padding: 4rem 1.6rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1.2rem #3e3e3e33;
}

.p-service__item:not(:last-child) {
  margin-bottom: 5.6rem;
}

.p-service__img {
  width: 6.4rem;
  margin: 0 auto 0.8rem;
}

.p-service__head {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}

.p-service__body {
  font-size: 1.4rem;
  line-height: 1.71429;
}

.p-table {
  width: 100%;
  max-width: 96rem;
  border-collapse: collapse;
}

.p-top {
  height: 66.7rem;
  background: url(./../../../img/mv@.png) no-repeat left 22% center/cover;
}

.p-top__head {
  margin-bottom: 3.2rem;
  padding-top: 22.9rem;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.66667;
}

.p-top__body {
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.p-top__btn {
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
}

.p-top__hamburger {
  display: none;
}

.p-top__hamburger--is-active {
  display: block;
}

/* @import "./object/project/header";
@import "./object/project/inner";
@import "./object/project/top"; */

@media screen and (min-width: 768px) {
  .l-header {
    height: 8.3rem;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .c-btn--yellow {
    font-size: 1.8rem;
  }
  .c-btn--white {
    padding: 2rem 8rem;
    font-size: 2rem;
  }
  .c-cell--th {
    width: 26.2rem;
    height: 6.1rem;
  }
  .c-cell--td {
    width: calc(100%-26.2rem);
    height: 6.1rem;
  }
  .c-title {
    font-size: 3.6rem;
    line-height: 1.22222;
  }
  .p-card {
    width: 40rem;
    height: 36.6rem;
  }
  .p-header__logo {
    display: none;
  }
  .p-header__nav {
    display: block;
    text-align: center;
  }
  .p-header__nav-link {
    margin-right: 4rem;
    font-size: 1.6rem;
    line-height: 1.1875;
  }
  .p-header__nav-link:last-child {
    margin-right: 0;
  }
  .p-inner {
    width: calc(100% - 8rem);
  }
  .p-inner--news {
    width: calc(100% - 12rem);
    margin: 0 6rem;
    padding: 0;
    padding: 3.5rem 0;
  }
  .p-inner--service {
    max-width: 96rem;
  }
  .p-inner--results {
    padding: 1.6rem;
  }
  .p-news {
    height: auto;
    min-height: 89.9rem;
    max-height: none;
    overflow: hidden;
  }
  .p-news__wrap {
    position: static;
    width: 100%;
    height: auto;
    min-height: 65.9rem;
    max-height: none;
    margin: 12rem 0;
    overflow: hidden;
  }
  .p-news__title {
    margin: 0 6rem;
    padding: 6rem 0;
  }
  .p-news__inner {
    display: flex;
    align-items: center;
  }
  .p-news__item {
    background-position: center right 7.6rem;
  }
  .p-news__head {
    width: 29.9rem;
    margin: 0;
  }
  .p-news__date {
    margin-right: 4rem;
    font-size: 1.8rem;
    line-height: 1.44444;
  }
  .p-news__category {
    margin-right: 3.2rem;
    padding: 0.8rem 3.2rem;
    font-size: 1.4rem;
  }
  .p-news__content {
    margin-right: 8.3rem;
    font-size: 1.8rem;
    line-height: 1.55556;
  }
  .p-price {
    height: 69.7rem;
  }
  .p-price__title {
    padding: 12rem 0 6rem 0;
    font-size: 3.6rem;
  }
  .p-price__container {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto 1.2rem;
  }
  .p-price__th {
    font-size: 2.4rem;
  }
  .p-price__td {
    font-size: 2.4rem;
  }
  .p-results {
    height: 96.9rem;
  }
  .p-results__wrap {
    height: 75.4rem;
    margin-top: 21.5rem;
    margin-left: 4rem;
    padding-left: 6rem;
  }
  .p-results__head {
    padding-bottom: 1.6rem;
    font-size: 2rem;
    line-height: 1.71429;
  }
  .p-results__body {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .p-results__btn {
    width: 28.9rem;
  }
  .p-results__slide {
    /* width: 44rem !important;
      height: 36.6rem !important; */
  }
  .p-service {
    height: 40rem;
    background: none;
    background-color: #3e3e3e;
  }
  .p-service__title {
    padding: 6rem 0;
  }
  .p-service__wrap {
    display: flex;
    position: absolute;
    max-width: 96rem;
    padding: 4.5rem 6rem;
  }
  .p-service__item:not(:last-child) {
    margin-right: 9rem;
    margin-bottom: 0;
  }
  .p-top {
    height: 64.8rem;
  }
  .p-top__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding-bottom: 15.3rem;
  }
  .p-top__head {
    margin-bottom: 4rem;
    padding: 0;
    font-size: 3.2rem;
    line-height: 1.5;
  }
  .p-top__body {
    font-size: 1.8rem;
    line-height: 1.55556;
  }
  .p-top__btn {
    max-width: 28.2rem;
    margin: 0;
  }
  .u-pc-none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .u-sp-none {
    display: none;
  }
}
