@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333333;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img,
input,
button {
  display: block;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.l-footer {
  background-color: #3e3e3e;
}

.l-header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.8rem;
  background-color: #ffffff;
}

.c-btn {
  padding: 1.6rem 0;
  cursor: pointer;
  transition: all 0.3s;
}

.c-btn--yellow {
  border-radius: 1rem;
  background-color: #ffaa3b;
  box-shadow: 0 0.3rem 0.5rem #3e3e3e33;
  color: #ffffff;
  font-weight: bold;
}

.c-btn--yellow:hover {
  background-color: #f18900;
}

.c-btn--white {
  padding: 1.6rem 0;
  border: 0.1rem solid #707070;
  background-color: #ffffff;
  color: #3e3e3e;
  font-weight: 600;
  font-size: 1.8rem;
}

.c-btn--white:hover {
  background-color: #3e3e3e;
  color: #ffffff;
}

.c-btn--black {
  padding: 1.6rem 0;
  border: 0.1rem solid #ffffff;
  background-color: #3e3e3e;
  color: #ffffff;
  font-weight: 600;
}

.c-btn--black:hover {
  background-color: #ffffff;
  color: #3e3e3e;
}

.c-btn--disabled {
  border-radius: 1rem;
  background-color: #b2b2b2;
  color: #ffffff;
}

.c-cell--th {
  width: 29.2%;
  padding: 1.6rem 0;
  border-left: 0.1rem solid #707070;
  background-color: #3e3e3e;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.c-cell--th--second {
  border-top: 0.1rem solid #ffffff;
}

.c-cell--th--last {
  border-top: 0.1rem solid #ffffff;
}

.c-cell--td {
  width: calc(100%-10rem);
  max-width: 69.8rem;
  padding: 1.6rem 0;
  padding-left: 2rem;
  font-weight: 600;
  vertical-align: middle;
}

.c-cell--td--second {
  border-top: 0.1rem solid #707070;
  border-bottom: 0.1rem solid #707070;
}

.c-icon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3.6rem;
  transition: all 0.3s;
}

.c-icon:hover {
  transform: scale(1.3);
  color: rgba(179, 218, 255, 0.6);
}

.c-img {
  width: 100%;
}

.c-link--header {
  line-height: 1.1875;
  font-family: "Montserrat", sans-serif;
}

.c-link--footer {
  color: #ffffff;
}

.c-logo--header {
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 1.21739;
  font-family: "Montserrat", sans-serif;
}

.c-logo--footer {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.c-title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.23333;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* @import "./object/component/logo";
@import "./object/component/link";
@import "./object/component/btn";
@import "./object/component/img"; */
.p-access {
  overflow: hidden;
  background-color: #3e3e3e;
}

.p-access__title {
  margin: 4rem 0;
  color: #ffffff;
  text-align: left;
}

.p-access__address {
  margin-bottom: 2.4rem;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.p-access__map-wrap {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 2.4rem;
  padding-bottom: 70.3%;
}

.p-access__map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.p-access__btn {
  width: 100%;
  margin-bottom: 6rem;
  padding-right: 0;
  padding-left: 0;
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
}

.p-card {
  width: 27.4rem;
  height: 25.3rem;
}

.p-comments {
  overflow: hidden;
  background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 14.1%, #3e3e3e 14.2%, #3e3e3e 100%);
}

.p-comments__wrap {
  z-index: 2;
  width: 100%;
  height: auto;
  margin-bottom: 6rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1.2rem #3e3e3e33;
}

.p-comments__title {
  margin-bottom: 4rem;
  text-align: left;
}

.p-comments__item {
  display: flex;
}

.p-comments__item:not(:last-child) {
  margin-bottom: 4rem;
}

.p-comments__img {
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
  line-height: 1.5;
}

.p-comments__img--pc {
  display: none;
}

.p-comments__comment {
  font-size: 1.4rem;
  line-height: 1.42857;
}

.p-contact {
  width: 100%;
  overflow: hidden;
  background: transparent url(./../img/contact-bg@.png) no-repeat center center/cover;
}

.p-contact__top {
  width: 100%;
  max-width: 96rem;
  margin-top: 4rem;
  padding: 4rem 1.6rem;
  border-radius: 1.2rem 1.2rem 0 0;
  background: transparent url(./../img/contact1@.png) no-repeat center center/cover;
}

.p-contact__title {
  margin-bottom: 1.2rem;
  color: #ffffff;
}

.p-contact__message {
  color: #ffffff;
  font-size: 1.4rem;
}

.p-contact__form {
  width: 100%;
  max-width: 96rem;
  margin-bottom: 4rem;
  padding: 4rem 1.2rem;
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: #ffffff;
}

.p-contact__form-item-gender {
  margin-bottom: 3.2rem;
}

.p-contact__form-item-message {
  margin-bottom: 3.2rem;
}

.p-contact__label {
  display: block;
  margin-bottom: 1.6rem;
  font-weight: bold;
}

.p-contact__label-radio {
  display: inline-block;
  position: relative;
  margin-right: 4rem;
  padding-left: 2rem;
  cursor: pointer;
}

.p-contact__label-radio::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  transform: translateY(-50%);
  border: 0.1rem solid #707070;
  border-radius: 50%;
  background-color: #ffffff;
  content: "";
}

.p-contact__label-radio:hover::before {
  border: 0.1rem solid #3b69ff;
}

.p-contact__label--required {
  display: inline-block;
  position: relative;
}

.p-contact__label--required::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -6rem;
  width: 2.4rem;
  height: 1.2rem;
  margin-left: 1.2rem;
  padding: 0.2rem 0.8rem;
  transform: translateY(-50%);
  border-radius: 0.2rem;
  background-color: #ff4646;
  content: "必須";
  color: #ffffff;
  font-size: 1.2rem;
}

.p-contact__label-checkbox {
  position: relative;
  margin-bottom: 3.5rem;
  padding-left: 3.8rem;
  cursor: pointer;
}

.p-contact__label-checkbox::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
  border: 1px solid #707070;
  content: "";
}

.p-contact__label-checkbox:hover:before {
  border: 1px solid #3b69ff;
}

.p-contact__input {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid rgba(62, 62, 62, 0.5);
  outline: none;
  cursor: pointer;
}

.p-contact__input-wrap {
  width: 100%;
  margin-bottom: 3.2rem;
}

.p-contact__input-select {
  height: 3.8rem;
  padding-left: 1.2rem;
  border: none;
  border: 0.1rem solid rgba(62, 62, 62, 0.5);
}

.p-contact__input-select:hover {
  box-shadow: 0 0 0.5rem #4973ff80;
}

.p-contact__input-radio {
  display: none;
}

.p-contact__input-radio:checked + .p-contact__label-radio::after {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 0.3rem;
  width: 0.6rem;
  height: 0.6rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #3b69ff;
  content: "";
}

.p-contact__input-textarea {
  max-width: 100%;
  min-height: 16rem;
}

.p-contact__input-checkbox {
  display: none;
}

.p-contact__input-checkbox:checked + .p-contact__checkbox-part::after {
  box-sizing: border-box;
  position: absolute;
  bottom: 0.7rem;
  left: 0.2rem;
  width: 1.6rem;
  height: 0.8rem;
  transform: rotate(-45deg);
  border-bottom: 0.2rem solid #3b69ff;
  border-left: 0.2rem solid #3b69ff;
  content: "";
}

.p-contact__input--hover-border:hover {
  border: 0.1rem solid #4973ff;
}

.p-contact__input--hover-border:focus {
  border: 0.1rem solid #4973ff;
}

.p-contact__input--hover-border-bottom:hover {
  border-bottom: 0.1rem solid #4973ff;
}

.p-contact__input--hover-border-bottom:focus {
  border-bottom: 0.1rem solid #4973ff;
}

.p-contact__btn {
  margin: 0 auto;
  padding: 1.6rem 5rem;
}

.p-footer {
  padding: 6rem 7.7rem 5.7rem;
  text-align: center;
}

.p-footer__wrap:not(:last-child) {
  margin-right: auto;
}

.p-footer__icons {
  margin-bottom: 4.2rem;
}

.p-footer__icon:not(:last-child) {
  margin-right: 5rem;
}

.p-footer__logo {
  margin-bottom: 1.2rem;
  color: #e3e3e3;
  font-size: 3.2rem;
}

.p-footer__site-map {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.p-footer__link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.4rem;
}

.p-footer__link:not(:last-child) {
  margin-bottom: 2.6rem;
}

.p-footer__link::after {
  -webkit-transform: translateX(-50%);
  position: absolute;
  bottom: -0.55rem;
  left: 50%;
  width: 0;
  height: 1px;
  transform: translateX(-50%);
  background-color: #ffffff;
  content: "";
  transition: all 0.3s;
}

.p-footer__link:hover::after {
  width: 100%;
}

.p-footer__copyright {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.p-header {
  height: 100%;
}

.p-header__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.p-header__logo {
  margin-right: auto;
}

.p-header__nav {
  display: none;
}

.p-header__nav--sp {
  display: flex;
  flex-direction: column;
  height: 34.6rem;
}

.p-header__nav-wrap {
  display: flex;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 100%;
  transform: translateX(30rem);
  background-color: #ffffff;
  transition: all 0.3s;
}

.p-header__nav-wrap--is-active {
  transform: translateX(0);
}

.p-header__nav-link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 3.2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.22222;
  text-align: center;
}

.p-header__nav-link::after {
  -webkit-transform: translateX(-50%);
  position: absolute;
  bottom: -0.55rem;
  left: 50%;
  width: 0;
  height: 1px;
  transform: translateX(-50%);
  background-color: #3e3e3e;
  content: "";
  transition: all 0.3s;
}

.p-header__nav-link:hover::after {
  width: 100%;
}

.p-header__trigger {
  display: block;
  z-index: 5;
  position: fixed;
  top: 2.4rem;
  right: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.p-header__trigger--is-active {
  position: fixed;
  right: 31.6rem;
}

.p-header__btn-open {
  display: none;
}

.p-header__btn-close {
  display: none;
}

.p-header__btn--is-active {
  display: block;
}

.p-header__overlay {
  display: block;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  opacity: 0;
  transition: opacity 0.5s;
}

.p-header__overlay--is-open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.p-inner {
  width: calc(100% - 3.2rem);
  height: 100%;
  margin: 0 auto;
}

.p-inner--news {
  width: 100%;
  padding: 1.4rem 1.6rem;
  border-bottom: 0.1rem solid #cecdcd;
  transition: background-color 0.3s;
}

.p-inner--news:hover {
  background-color: #4973ff1a;
}

.p-inner--results {
  padding: 1.2rem;
  background-color: #ffffff;
}

.p-inner--comments {
  height: auto;
  padding: 4rem 2rem;
}

.p-news {
  position: relative;
  height: 57.4rem;
  background-color: #f3f3f3;
}

.p-news__wrap {
  position: absolute;
  top: -4rem;
  width: inherit;
  height: auto;
  max-height: 55.3rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1.2rem #3e3e3e33;
}

.p-news__title {
  padding: 4rem 0;
  border-bottom: 0.1rem solid #cecdcd;
}

.p-news__link {
  cursor: pointer;
}

.p-news__item {
  background: transparent url(./../img/news-arrow.svg) no-repeat center right 1.6rem;
  transition: background-color 0.3s;
}

.p-news__head {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.p-news__date {
  margin-right: 2.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.42857;
  letter-spacing: 0.00004rem;
}

.p-news__category {
  padding: 0.2rem 1.4rem;
  border: 0.2rem solid #3b69ff;
  border-radius: 5rem;
  font-size: 1.2rem;
}

.p-news__content {
  flex: 1;
  margin-right: 3.883rem;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.p-news__btn {
  width: 26.8rem;
  margin: 4rem auto;
  letter-spacing: 0.27em;
}

.p-price {
  height: 36.3rem;
  background-color: #f3f3f3;
}

.p-price__title {
  padding: 4rem 0;
  font-size: 3rem;
}

.p-price__table {
  margin-bottom: 0.8rem;
}

.p-price__th {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.p-price__td {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.p-price__caution {
  font-size: 1.2rem;
  line-height: 1.66667;
}

.p-qa {
  width: 100%;
  overflow: hidden;
  background: transparent url(./../img/qa-bg@.png) no-repeat center center/cover;
}

.p-qa__title {
  margin: 4rem 0;
}

.p-qa__wrap {
  margin-bottom: 6rem;
}

.p-qa__item {
  width: 100%;
  padding: 2rem 1.6rem 1.6rem 1.6rem;
  border-radius: 0.4rem;
  background-color: #ffffff;
  cursor: pointer;
}

.p-qa__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.p-qa__question {
  position: relative;
  padding-left: 4rem;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.5;
}

.p-qa__question::before {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  transform: translateY(-50%);
  border-radius: 9rem;
  background-color: #3b69ff;
  content: "Q";
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

.p-qa__question--open {
  background: transparent url(./../img/minus.svg) no-repeat center right;
}

.p-qa__question--close {
  background: transparent url(./../img/plus.svg) no-repeat center right;
}

.p-qa__answer {
  padding-bottom: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.p-qa__answer-wrap {
  display: none;
  margin-top: 1.6rem;
  padding: 1.2rem 1.2rem 0 1.2rem;
  border-radius: 0.4rem;
  background-color: #3b69ff33;
}

.p-qa__answer-wrap--open {
  display: block;
}

.p-results {
  overflow: hidden;
  background-color: #f3f3f3;
}

.p-results__wrap {
  height: 53.2rem;
  padding-left: 2rem;
  background-color: #3e3e3e;
}

.p-results__title {
  padding: 4rem 0;
  color: #ffffff;
}

.p-results__img {
  height: 17.1rem;
}

.p-results__head {
  padding-bottom: 1.2rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.14286;
}

.p-results__body {
  font-size: 1.2rem;
  line-height: 1.5;
}

.p-results__btn {
  width: 31.6rem;
  margin-top: 2.4rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  line-height: 1.27778;
  letter-spacing: 0.3em;
}

.p-results__page {
  height: 2rem;
  margin-top: 2.4rem;
}

.p-service {
  height: 87rem;
  background: linear-gradient(to bottom, #3e3e3e 0%, #3e3e3e 55%, #f3f3f3 55%, #f3f3f3 100%);
}

.p-service__title {
  position: relative;
  padding: 4rem 0;
  color: #ffffff;
}

.p-service__wrap {
  width: 100%;
  padding: 4rem 1.6rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1.2rem #3e3e3e33;
}

.p-service__item:not(:last-child) {
  margin-bottom: 4.5rem;
}

.p-service__img {
  width: 5rem;
  height: 6rem;
  margin: 0 auto 0.8rem;
}

.p-service__head {
  margin-bottom: 1.2rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  text-align: center;
}

.p-service__body {
  font-size: 1.4rem;
  line-height: 1.71429;
}

.p-table {
  width: 100%;
  max-width: 96rem;
  border: 0.1rem solid #707070;
  border-collapse: collapse;
}

.p-to-top {
  z-index: 300;
  position: fixed;
  right: 1.6rem;
  bottom: 1.3rem;
  width: 5rem;
}

.p-top {
  height: 66.7rem;
  background: url(./../img/top.png) no-repeat left 22% center/cover;
}

.p-top__head {
  margin-bottom: 2.3rem;
  padding-top: 22rem;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.66667;
}

.p-top__body {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.p-top__btn {
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
}

.p-top__hamburger {
  display: none;
}

.p-top__hamburger--is-active {
  display: block;
}

/* @import "./object/project/header";
@import "./object/project/inner";
@import "./object/project/top"; */

@media screen and (min-width: 851px) {
  .l-header {
    height: 8.3rem;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .c-btn--yellow {
    font-size: 1.8rem;
  }
  .c-btn--white {
    padding: 2rem 8rem;
    font-size: 2rem;
  }
  .c-btn--disabled {
    font-size: 1.8rem;
  }
  .c-cell--th {
    width: 27.3%;
    padding: 1.6rem 0;
  }
  .c-cell--td {
    width: calc(100%-26.2rem);
    height: 6.1rem;
    padding: 1.6rem 0 1.6rem 4rem;
  }
  .c-icon {
    font-size: 4rem;
  }
  .c-title {
    font-size: 3.6rem;
    line-height: 1.22222;
  }
  .p-access {
    position: relative;
    height: 76rem;
    background: linear-gradient(to right, transparent 0%, transparent 76.6%, #f3f3f3 76.6%, #f3f3f3 100%);
  }
  .p-access::before {
    display: inline-block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #3e3e3e 0%, #3e3e3e 66.3%, #f3f3f3 66.3%, #f3f3f3 100%);
    content: "";
  }
  .p-access__detail-wrap {
    position: relative;
    margin-right: auto;
    padding-right: 3rem;
  }
  .p-access__title {
    margin: 12rem 0 6rem 0;
  }
  .p-access__address {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .p-access__map-wrap {
    min-height: 52rem;
    margin: 12rem 0;
    padding-bottom: 71.6%;
  }
  .p-access__map {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
  .p-access__btn {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 31.4rem;
    height: 6.4rem;
    margin-top: 3.2rem;
    margin-right: 10rem;
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  .p-card {
    width: 40rem;
    height: 36.6rem;
  }
  .p-comments {
    z-index: 0;
    position: relative;
    background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 20.1%, #3e3e3e 20.1%, #3e3e3e 100%);
  }
  .p-comments::after {
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, transparent 76.5%, #f3f3f3 76.5%, #f3f3f3 100%);
    content: "";
  }
  .p-comments__wrap {
    width: 55.5%;
    height: auto;
    margin-bottom: 0;
  }
  .p-comments__wrap--pc {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 12rem;
  }
  .p-comments__title {
    margin-bottom: 6rem;
  }
  .p-comments__item:not(:last-child) {
    margin-bottom: 6rem;
  }
  .p-comments__img {
    width: 10rem;
    height: 10rem;
    margin-right: 3.2rem;
  }
  .p-comments__img--pc {
    display: block;
    z-index: 2;
    width: 44.5%;
    height: auto;
    margin: auto 0;
  }
  .p-comments__comment {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .p-contact__top {
    margin: 6rem auto 0;
    padding: 6rem 0;
    text-align: center;
  }
  .p-contact__title {
    margin-bottom: 1.6rem;
  }
  .p-contact__message {
    font-size: 1.6rem;
  }
  .p-contact__form {
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: 6rem 12rem;
  }
  .p-contact__form-item {
    margin-bottom: 3.2rem;
  }
  .p-contact__form-item:not(:nth-child(6)) {
    display: flex;
    align-items: center;
  }
  .p-contact__form-item-message {
    margin-bottom: 4rem;
  }
  .p-contact__form-item-check {
    margin-bottom: 4.1rem;
  }
  .p-contact__label {
    display: inline-block;
    margin-bottom: 0;
  }
  .p-contact__label:not(:last-child) {
    width: 16.8rem;
  }
  .p-contact__label-message {
    margin-bottom: 0.8rem;
  }
  .p-contact__label--required::after {
    display: inline;
    position: static;
  }
  .p-contact__label-checkbox {
    font-size: 1.8rem;
  }
  .p-contact__input {
    padding: 0.8rem 1.2rem;
  }
  .p-contact__input-wrap {
    flex: 1;
    width: auto;
    margin-bottom: 0;
  }
  .p-contact__input-select {
    max-width: 17.8rem;
    min-height: 4rem;
    padding: 1.2rem 1.2rem;
  }
  .p-contact__input-textarea {
    width: 100%;
    min-height: 20rem;
  }
  .p-contact__btn {
    margin: 0;
  }
  .p-footer {
    display: flex;
    width: calc(100% - 8rem);
    max-width: 96rem;
    margin: 0 auto;
    padding: 6rem 0;
  }
  .p-footer__icons {
    margin-bottom: 4rem;
    text-align: left;
  }
  .p-footer__icon:not(:last-child) {
    margin-right: 2.8rem;
  }
  .p-footer__logo {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  .p-footer__link {
    margin: 0;
    font-size: 1.6rem;
  }
  .p-footer__link:not(:last-child) {
    margin-bottom: 2.4rem;
    text-align: left;
  }
  .p-footer__copyright {
    text-align: right;
  }
  .p-header__logo {
    display: none;
  }
  .p-header__nav {
    display: block;
    text-align: center;
  }
  .p-header__nav-link {
    margin-right: 4rem;
    font-size: 1.6rem;
    line-height: 1.1875;
    letter-spacing: -0.058em;
  }
  .p-header__nav-link:last-child {
    margin-right: 0;
  }
  .p-header__trigger {
    display: none;
  }
  .p-inner {
    width: calc(100% - 8rem);
    max-width: 120rem;
  }
  .p-inner--news {
    width: calc(100% - 12rem);
    margin: 0 6rem;
    padding: 0;
    padding: 3.75rem 0;
  }
  .p-inner--service {
    max-width: 96rem;
  }
  .p-inner--results {
    padding: 1.6rem;
  }
  .p-inner--comments {
    padding: 12rem 6rem;
  }
  .p-inner--access {
    display: grid;
    grid-template-rows: 28.8rem 1fr;
    grid-template-columns: 41.4rem 1fr;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    padding-left: 6rem;
    overflow: hidden;
  }
  .p-news {
    height: auto;
    min-height: 89.9rem;
    max-height: none;
    overflow: hidden;
  }
  .p-news__wrap {
    position: static;
    width: 100%;
    height: auto;
    min-height: 65.9rem;
    max-height: none;
    margin: 12rem 0;
    overflow: hidden;
  }
  .p-news__title {
    margin: 0 6rem;
    padding: 6rem 0;
  }
  .p-news__inner {
    display: flex;
    align-items: center;
  }
  .p-news__item {
    background-position: center right 7.6rem;
  }
  .p-news__head {
    width: 29.9rem;
    margin: 0;
  }
  .p-news__date {
    margin-right: 4rem;
    font-size: 1.8rem;
    line-height: 1.44444;
    letter-spacing: 0.03em;
  }
  .p-news__category {
    margin-right: 3.2rem;
    padding: 0.8rem 3rem;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
  }
  .p-news__content {
    margin-right: 8.3rem;
    font-size: 1.8rem;
    line-height: 1.55556;
    letter-spacing: 0.03em;
  }
  .p-news__btn {
    width: 23.6rem;
    letter-spacing: 0.27em;
  }
  .p-price {
    height: 54.9rem;
  }
  .p-price__title {
    padding: 12rem 0 6rem 0;
    font-size: 3.6rem;
  }
  .p-price__container {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto 1.2rem;
  }
  .p-price__th {
    font-size: 2.4rem;
  }
  .p-price__td {
    font-size: 2.4rem;
  }
  .p-qa__title {
    margin: 6rem 0;
  }
  .p-qa__wrap {
    width: 100%;
    max-width: 61.2rem;
    margin-bottom: 12rem;
    margin-left: auto;
  }
  .p-qa__item:not(:last-child) {
    margin-bottom: 3.2rem;
  }
  .p-qa__answer {
    padding-bottom: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .p-qa__answer-wrap {
    margin-top: 1.4rem;
    padding: 1.6rem 1.6rem 0 1.6rem;
  }
  .p-results {
    height: 75.4rem;
  }
  .p-results__wrap {
    height: 75.4rem;
    margin-left: 4rem;
    padding-left: 6rem;
  }
  .p-results__title {
    padding: 6rem 0;
    text-align: left;
  }
  .p-results__img {
    height: 25rem;
  }
  .p-results__head {
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.2;
  }
  .p-results__body {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .p-results__btn {
    width: 28.9rem;
    height: 6.4rem;
    margin: 0;
    margin-top: 4rem;
    font-size: 2rem;
    line-height: 1.125;
    letter-spacing: 0.3em;
  }
  .p-results__page {
    margin-top: 4rem;
    text-align: left;
  }
  .p-service {
    position: relative;
    height: 61.5rem;
    background: none;
    background: linear-gradient(to bottom, #3e3e3e 0%, #3e3e3e 65%, #f3f3f3 65%, #f3f3f3 100%);
  }
  .p-service__title {
    padding: 6rem 0;
  }
  .p-service__wrap {
    display: flex;
    position: absolute;
    left: 50%;
    width: calc(100% - 8rem);
    max-width: 96rem;
    margin: 0 4rem;
    padding: 6.5rem 4.5rem 6rem;
    transform: translateX(calc(-1 * (50% + 4rem)));
  }
  .p-service__item:not(:last-child) {
    margin-right: 9rem;
    margin-bottom: 0;
  }
  .p-service__head {
    line-height: 1.4;
    letter-spacing: 0.2em;
  }
  .p-to-top {
    right: 3rem;
    bottom: 3rem;
    width: 7rem;
  }
  .p-top {
    height: 64.8rem;
  }
  .p-top__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding-bottom: 15.3rem;
  }
  .p-top__head {
    margin-bottom: 2.5rem;
    padding: 0;
    font-size: 3.2rem;
    line-height: 1.5;
  }
  .p-top__body {
    font-size: 1.8rem;
    line-height: 1.55556;
    letter-spacing: 0.03em;
  }
  .p-top__btn {
    max-width: 28.2rem;
    margin: 0;
  }
  .u-display--pc-none {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .u-display--sp-none {
    display: none;
  }
}
