@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: #333333;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img,
input,
button {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #333333;
  font-size: 1.6rem;
}

.l-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.8rem;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .l-header {
    height: 8.3rem;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.c-logo--header {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.21739;
}

.c-link--header {
  line-height: 1.1875;
  font-family: "Montserrat", sans-serif;
}

.c-btn--yellow {
  padding: 1.6rem 5rem;
  background-color: #ffaa3b;
  color: #ffffff;
  border-radius: 1rem;
}

.c-img {
  width: 100%;
}

.p-header {
  height: 100%;
}

.p-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .p-header__logo {
    display: none;
  }
}

.p-header__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .p-header__nav {
    display: block;
    text-align: center;
  }
}

.p-header__nav--sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10.2rem;
  height: 34.6rem;
}

.p-header__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.p-header__nav-link {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  line-height: 1.22222;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-header__nav-link {
    margin-right: 4rem;
    font-size: 1.6rem;
    line-height: 1.1875;
  }
  .p-header__nav-link:last-child {
    margin-right: 0;
  }
}

.p-header__hamburger {
  margin-left: auto;
}

.p-header .js-header__hamburger-btn {
  display: none;
}

.p-header .is-active {
  display: block;
}

.p-inner {
  width: calc(100% - 3.2rem);
  height: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .p-inner {
    width: calc(100% - 8rem);
  }
}

.p-top {
  background: url(./../../../img/mv@.png) no-repeat left 22% center/cover;
  height: 66.7rem;
}

@media screen and (min-width: 768px) {
  .p-top {
    height: 64.8rem;
  }
}

@media screen and (min-width: 768px) {
  .p-top__wrap {
    width: 50%;
    margin-left: auto;
  }
}

.p-top__head {
  padding-top: 22.9rem;
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  line-height: 1.66667;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .p-top__head {
    padding-top: 23.9rem;
    margin-bottom: 4rem;
    font-size: 3.2rem;
    line-height: 1.5;
  }
}

.p-top__body {
  margin-bottom: 4rem;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .p-top__body {
    font-size: 1.8rem;
    line-height: 1.55556;
  }
}

@media screen and (max-width: 767px) {
  .p-top__btn {
    margin: 0 auto;
    padding: 1.6rem 3.2rem;
  }
}

.p-top__hamburger {
  display: none;
}

.p-top__hamburger--is-active {
  display: block;
}

@media screen and (min-width: 768px) {
  .u-pc-none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .u-sp-none {
    display: none;
  }
}
