.c-btn {
  padding: 1.6rem 0;
  cursor: pointer;
  transition: all 0.3s;

  &--yellow {
    border-radius: 1rem;
    background-color: $color-yellow;
    box-shadow: 0 0.3rem 0.5rem #3e3e3e33;
    color: $color-white;
    font-weight: bold;

    @include mq("pc") {
      font-size: 1.8rem;
    }

    &:hover {
      background-color: #f18900;
    }
  }

  &--white {
    padding: 1.6rem 0;
    background-color: $color-white;
    color: #3e3e3e;
    border: 0.1rem solid #707070;
    font-size: 1.8rem;
    font-weight: 600;

    @include mq("pc") {
      padding: 2rem 8rem;
      font-size: 2rem;
    }

    &:hover {
      background-color: #3e3e3e;
      color: $color-white;
    }
  }

  &--black {
    padding: 1.6rem 0;
    background-color: #3e3e3e;
    color: $color-white;
    border: 0.1rem solid $color-white;
    font-weight: 600;

    &:hover {
      background-color: $color-white;
      color: #3e3e3e;
    }
  }

  &--disabled {
    background-color: #b2b2b2;
    border-radius: 1rem;
    color: $color-white;

    @include mq("pc") {
      font-size: 1.8rem;
    }
  }
}
