.c-cell {
  &--th {
    width: 29.2%;
    padding: 1.7rem 0;
    vertical-align: middle;
    text-align: center;
    border-left: 0.1rem solid $color-gray;
    background-color: $color-black;
    color: $color-white;
    font-weight: 600;

    @include mq("pc") {
      padding: 1.6rem 0;
      width: 27.3%;
    }

    &--second {
      border-top: 0.1rem solid $color-white;
    }

    &--last {
      border-top: 0.1rem solid $color-white;
    }
  }

  &--td {
    width: calc(100%-10rem);
    max-width: 69.8rem;
    padding: 1.7rem 0;
    padding-left: 2rem;
    vertical-align: middle;
    font-weight: 600;

    @include mq("pc") {
      width: calc(100%-26.2rem);
      height: 6.1rem;
      padding: 1.6rem 0 1.6rem 4rem;
    }

    &--second {
      border-top: 0.1rem solid $color-gray;
      border-bottom: 0.1rem solid $color-gray;
    }
  }
}
