.c-logo {
    &--header {
        font-size: 2.3rem;
        font-family: $font-family-montserrat;
        font-weight: 600;
        line-height: font-height(28, 23);
    }

    &--footer {
        font-family: $font-family-montserrat;
        font-weight: 600;
    }
}
