.c-title {
    font-size: 3rem;
    font-family: $font-family-montserrat;
    font-weight: 600;
    line-height: font-height(37, 30);
    text-align: center;

    @include mq("pc") {
        font-size: 3.6rem;
        line-height: font-height(44, 36);
    }
}
