.p-comments {
  /* position: relative;
  z-index: 2; */
  //overflow: hidden;
  height: 48.55rem;
  background: linear-gradient(
    to bottom,
    #f3f3f3 0%,
    #f3f3f3 14.1%,
    #3e3e3e 14.2%,
    #3e3e3e 100%
  );

  @include mq("pc") {
    position: relative;
    z-index: 0;
    height: 69.6rem;
    background: linear-gradient(
      to bottom,
      #f3f3f3 0%,
      #f3f3f3 14.1%,
      #3e3e3e 14.1%,
      #3e3e3e 100%
    );

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        transparent 0%,
        transparent 76.5%,
        #f3f3f3 76.5%,
        #f3f3f3 100%
      );
    }
  }

  &__wrap {
    //overflow: hidden;
    //position: absolute;
    z-index: 2;
    //top: -6rem;
    //position: relative;
    background-color: #ffffff;
    //width: 34.4rem;
    width: 100%;
    //height: 42.55rem;
    height: auto;
    box-shadow: 0 0.5rem 1.2rem #3e3e3e33;

    @include mq("pc") {
      //top: -12rem;
      width: 55.5%;
      //max-width: 66.6rem;
      //height: 60.4rem;
      height: auto;
    }

    &--pc {
      @include mq("pc") {
        display: flex;
        width: 100%;
        max-width: 120rem;
        height: auto;
      }
    }
  }

  &__title {
    margin-bottom: 4rem;
    text-align: left;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 4rem;

      @include mq("pc") {
        margin-bottom: 7.2rem;
      }
    }

    /* &:last-child {
      margin-bottom: 4rem;

      @include mq("pc") {
        margin-bottom: 12rem;
      }
    } */
  }

  &__img {
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;

    @include mq("pc") {
      width: 10rem;
      height: 10rem;
    }

    &--pc {
      display: none;

      @include mq("pc") {
        display: block;
        z-index: 2;
        max-width: 44.5%;
        width: auto;
        height: auto;
        margin: auto 0;
      }
    }
  }

  &__comment {
    font-size: 1.405rem;
    line-height: font-height(2rem, 1.405rem);
  }
}

//@include mq("pc"){}
