.p-comments {
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #f3f3f3 0%,
    #f3f3f3 14.1%,
    #3e3e3e 14.2%,
    #3e3e3e 100%
  );

  @include mq("pc") {
    position: relative;
    z-index: 0;
    height: 72.4rem;
    background: linear-gradient(
      to bottom,
      #f3f3f3 0%,
      #f3f3f3 20.1%,
      #3e3e3e 20.1%,
      #3e3e3e 100%
    );

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        transparent 0%,
        transparent 76.5%,
        #f3f3f3 76.5%,
        #f3f3f3 100%
      );
    }
  }

  &__wrap {
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-bottom: 6rem;
    box-shadow: 0 0.5rem 1.2rem #3e3e3e33;

    @include mq("pc") {
      width: 55.5%;
      height: auto;
      margin-bottom: 0;
    }

    &--pc {
      @include mq("pc") {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 12rem;
      }
    }
  }

  &__title {
    margin-bottom: 4rem;
    text-align: left;

    @include mq("pc") {
      margin-bottom: 6rem;
    }
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 4rem;

      @include mq("pc") {
        margin-bottom: 6rem;
      }
    }
  }

  &__img {
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
    line-height: font-height(2.4rem, 1.6rem);

    @include mq("pc") {
      width: 10rem;
      height: 10rem;
      margin-right: 3.2rem;
    }

    &--pc {
      display: none;

      @include mq("pc") {
        display: block;
        z-index: 2;
        width: 44.5%;
        height: auto;
        margin: auto 0;
      }
    }
  }

  &__comment {
    font-size: 1.4rem;
    line-height: font-height(2rem, 1.4rem);

    @include mq("pc") {
      font-size: 1.6rem;
      line-height: font-height(2.4rem, 1.6rem);
    }
  }
}
