.p-footer {
  padding: 6rem 7.7rem 5.7rem;
  text-align: center;

  @include mq("pc") {
    display: flex;
    padding: 5.8rem 0 6rem 0;
    margin: 0 auto;
    width: calc(100% - 8rem);
    max-width: 96rem;
  }

  &__wrap {
    &:not(:last-child) {
      margin-right: auto;
    }
  }

  &__icons {
    margin-bottom: 4rem;

    @include mq("pc") {
      margin-bottom: 3.6rem;
      text-align: left;
    }
  }

  &__icon {
    &:not(:last-child) {
      margin-right: 4.5rem;

      @include mq("pc") {
        margin-right: 2.6rem;
      }
    }
  }

  &__logo {
    margin-bottom: 1.6rem;
    font-size: 3.2rem;
    color: #e3e3e3;

    @include mq("pc") {
      margin-bottom: 2rem;
      font-size: 4rem;
    }
  }

  &__site-map {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
  }

  &__link {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.4rem;

    @include mq("pc") {
      margin: 0;
      font-size: 1.6rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.6rem;

      @include mq("pc") {
        margin-bottom: 2.4rem;
        text-align: left;
      }
    }

    &::after {
      position: absolute;
      bottom: -0.55rem;
      left: 50%;
      content: "";
      width: 0;
      height: 1px;
      background-color: $color-white;
      transition: all 0.3s;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__copyright {
    font-family: $font-family-montserrat;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    font-weight: 400;
    color: rgba($color-white, 0.4);

    @include mq("pc") {
      text-align: right;
    }
  }
}
