.p-header {
  height: 100%;
  //position: relative;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__logo {
    @include mq("pc") {
      display: none;
    }
  }

  &__nav {
    display: none;

    @include mq("pc") {
      display: block;
      text-align: center;
      //margin: 3.2rem 0;
    }
  }
  &__nav-link {
    margin-right: 4rem;
    font-weight: bold;

    &:last-child {
      margin-right: 0;
    }
  }
}
