.p-inner {
  width: calc(100% - 3.2rem);
  height: 100%;
  margin: 0 auto;
  //z-index: auto;

  @include mq("pc") {
    width: calc(100% - 8rem);
    max-width: 120rem;
  }

  &--news {
    width: 100%;
    padding: 1.4rem 1.6rem;
    border-bottom: 0.1rem solid #cecdcd;
    transition: background-color 0.3s;

    @include mq("pc") {
      width: calc(100% - 12rem);
      padding: 0;
      margin: 0 6rem;
      padding: 3.75rem 0;
    }

    &:hover {
      background-color: #4973ff1a;
    }
  }

  &--service {
    @include mq("pc") {
      max-width: 96rem;
    }
  }

  &--results {
    padding: 1.2rem;
    background-color: $color-white;

    @include mq("pc") {
      padding: 1.6rem;
    }
  }

  &--comments {
    height: auto;
    padding: 4rem 2rem;

    @include mq("pc") {
      padding: 12rem 6rem;
    }
  }

  &--access {
    @include mq("pc") {
      overflow: hidden;
      display: grid;
      grid-template-rows: 28.8rem 1fr;
      grid-template-columns: 41.4rem 1fr;
      max-width: 120rem;
      height: 100%;
      margin: 0 auto;
      padding-left: 6rem;
    }
  }
}
