.p-qa {
  overflow: hidden;
  width: 100%;
  background: transparent url(./../img/qa-bg@.png) no-repeat center center /
    cover;

  &__title {
    margin: 4rem 0;

    @include mq("pc") {
      margin: 6rem 0;
    }
  }

  &__wrap {
    margin-bottom: 6rem;

    @include mq("pc") {
      width: 100%;
      max-width: 61.2rem;
      margin-left: auto;
      margin-bottom: 12rem;
    }
  }

  &__item {
    width: 100%;
    padding: 2rem 1.6rem 1.6rem 1.6rem;
    background-color: $color-white;
    border-radius: 0.4rem;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 2.4rem;

      @include mq("pc") {
        margin-bottom: 3.2rem;
      }
    }
  }

  &__question {
    position: relative;
    padding-left: 4rem;
    font-size: 1.6rem;
    line-height: font-height(2.4rem, 1.6rem);
    font-weight: bold;

    &::before {
      content: "Q";
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 9rem;
      font-size: 1.6rem;
      font-family: $font-family-montserrat;
      font-weight: 600;
      color: $color-white;
      background-color: #3b69ff;
    }

    &--open {
      background: transparent url(./../img/minus.svg) no-repeat center right;
    }

    &--close {
      background: transparent url(./../img/plus.svg) no-repeat center right;
    }
  }

  &__answer {
    padding-bottom: 1.2rem;
    font-size: 1.4rem;
    line-height: font-height(2rem, 1.4rem);

    @include mq("pc") {
      padding-bottom: 1.6rem;
      font-size: 1.6rem;
      line-height: font-height(2.4rem, 1.6rem);
    }
  }

  &__answer-wrap {
    padding: 1.2rem 1.2rem 0 1.2rem;
    margin-top: 1.6rem;
    background-color: #3b69ff33;
    display: none;

    @include mq("pc") {
      padding: 1.6rem 1.6rem 0 1.6rem;
      margin-top: 1.4rem;
    }

    &--open {
      display: block;
    }
  }
}
