.p-results {
  overflow: hidden;
  background-color: #f3f3f3;

  @include mq("pc") {
    height: 96.9rem;
  }

  &__wrap {
    height: 53.2rem;
    padding-left: 2rem;
    background-color: #3e3e3e;

    @include mq("pc") {
      margin-top: 21.5rem;
      margin-left: 4rem;
      padding-left: 6rem;
      height: 75.4rem;
    }
  }

  &__title {
    color: $color-white;
    padding: 4rem 0;
  }

  &__head {
    padding-bottom: 1.2rem;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: font-height(1.6rem, 1.4rem);

    @include mq("pc") {
      padding-bottom: 1.6rem;
      font-size: 2rem;
      line-height: font-height(2.4rem, 1.4rem);
    }
  }

  &__body {
    font-size: 1.2rem;
    line-height: font-height(1.8rem, 1.2rem);

    @include mq("pc") {
      font-size: 1.6rem;
      line-height: font-height(2.4rem, 1.6rem);
    }
  }

  &__btn {
    margin-top: 2.8rem;
    margin-left: 1rem;
    width: 31.6rem;
    font-size: 1.8rem;
    line-height: font-height(2.3rem, 1.8rem);
    letter-spacing: font-space(0.36rem);

    @include mq("pc") {
      width: 28.9rem;
    }
  }

  &__slide {
    /* width: 29.4rem !important;
    height: 25.3rem !important; */
    margin-left: 0;

    @include mq("pc") {
      /* width: 44rem !important;
      height: 36.6rem !important; */
    }
  }

  &__page {
    margin-top: 4rem;
  }
}
