.p-top {
  background: url(./../../../img/mv@.png) no-repeat left 22% center / cover;
  height: 66.7rem;

  @include mq("pc") {
    height: 64.8rem;
  }

  &__wrap {
    @include mq("pc") {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 50%;
      height: 100%;
      margin-left: auto;
      padding-bottom: 15.3rem;
    }
  }

  &__head {
    padding-top: 22.9rem;
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
    line-height: font-height(4rem, 2.4rem);
    font-weight: bold;

    @include mq("pc") {
      padding: 0;
      margin-bottom: 4rem;
      font-size: 3.2rem;
      line-height: font-height(4.8rem, 3.2rem);
    }
  }

  &__body {
    margin-bottom: 4rem;
    font-size: 1.4rem;
    line-height: font-height(2rem, 1.4rem);
    font-weight: bold;

    @include mq("pc") {
      font-size: 1.8rem;
      line-height: font-height(2.8rem, 1.8rem);
    }
  }

  &__btn {
    margin: 0 auto;
    padding: 1.6rem 3.2rem;

    @include mq("pc") {
      margin: 0;
      max-width: 28.2rem;
    }
  }

  &__hamburger {
    display: none;

    &--is-active {
      display: block;
    }
  }
}
